<div class="container-fluid solspace-grid" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-6">
            <div id="homepage-disclaimer-wrapper" class="disclaimer-two-columns">
                <div id="homepage-disclaimer-content">
                    <div id="homepage-disclaimer-title" style="font-size: 19px;">ICO Alert is the only comprehensive list of ICOs.</div>
                    <div id="homepage-disclaimer-text"><p>ICO Alert does not provide investment, financial, or legal advice. This site cannot substitute for professional advice and independent factual verification. ICO Alert does not endorse any initial coin offerings advertised on this site but does receive compensation for advertising certain offerings in purple text below and in the purple banner above. The content provided or linked on this site is for informational purposes only.&nbsp;<span class="redactor-unlink"></span><a href="disclaimer"></a><a href="disclaimer" target="_blank">Please click here for additional important information</a>.</p></div>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="clearify-column">
            <div id="homepage-clearify-wrapper" class="disclaimer-two-columns">
                <div id="homepage-clearify-content">
                    <div class="report-mod clearify-tbd-icon large-clearify-icon"></div><div id="homepage-clearify-title">Introducing Clearify - The safe way to contribute to an ICO</div>
                    <div id="homepage-clearify-text"><p>Clearify manually verifies ICOs and allows contributors to check that the contribution addresses on each individual ICO website is genuine and owned by that ICO. It's a great way to be sure the ICO website has not been compromised and you are sending funds to the correct address. A colored check mark means an ICO has verified their address.</p>
                        <p><a href="http://clearify.io/" target="_blank" rel="noreferrer noopener"></a><a href="https://www.clearify.io/?ref=icoalert">Visit Clearify.io to verify an ICO address.</a></p></div>
                </div>
            </div>
        </div>
    </div>
</div>