<div style="display: none" id="email-forms-holder">
    <div class="email-form-wrapper front shadow">
        <p class="email-sign-up-text">Sign up for <b>Exclusive ICO Updates</b></p>
        <form id="email-sign-up-form">
            <div id="email-sign-up-inputs">
                <input id="emailSignUpButton" type="button" value="SIGN ME UP" style="float: right">
                <div id="emailSignUpInputWrapper" style="overflow: hidden;">
                    <input placeholder="Enter your email" id="email-sign-up-input" name="email" type="text" style="width: 100%;">
                </div>
            </div>
            <div class="close-icon"><i class="fa fa-times-circle-o close-icon-x" aria-hidden="false"></i></div>
        </form>
    </div>
    <div style="display: none" class="email-form-wrapper back email-back shadow">
        <p><i class="fa fa-check-circle-o email-check-icon" aria-hidden="false"></i></p>
        <p class="email-sign-up-success-text">Thanks! You're all set.</p>
        <div class="close-icon"><i class="fa fa-times-circle-o close-icon-x" aria-hidden="false"></i></div>
    </div>
</div>