<div id="miniMenu">
    <ul>
        <a href=""><li>Home</li></a>
        <li class="notify-toggle">IcoEco</li>
        <a href="/reports" target="_blank"><li>Reports</li></a>
        <a href="/podcasts" target="_blank"><li>Podcast</li></a>
        <a href="/posts" target="_blank"><li>Blog</li></a>
    </ul>
</div><!--/miniMenu-->

<div id="nav" class="searchable">
    <div class="divider-mob"></div>
    <div class="container">
        <a href="">
            <img id="menu-logo" style="width: 130px; height: auto;" src="{{ 'assets/img/logos/logo-home-new@2x.png' | relative_url }}" class="logo-float">
        </a>
        <div class="header-search">
            <div class="search-border">
                <form id="live-search" action="" method="post">
                    <div class="icon"></div>
                    <div class="ais-search-box">
                        <div class="ais-search-box">
                            <div class="ais-search-box">
                                <div class="ais-search-box">
                                    <div class="ais-search-box">
                                        <div class="ais-search-box">
                                            <input type="text" class="text-input ais-search-box--input" id="filter" value="" placeholder="Type Here To Search" autocapitalize="off" autocomplete="off" autocorrect="off" role="textbox" spellcheck="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="right">
            <div id="desktop-navigation">
                <ul>
                    <li><a href="">Home</a></li>
                    <li class="notify-toggle"><a href="#news" data-step="2" data-intro="Hello step two!">Alerts</a></li>
                    <li><a href="/reports">ICO Alert Reports</a></li>
                    <li><a href="/podcasts">Podcast</a></li>
                    <li><a href="/posts">Blog</a></li>
                </ul>
            </div>
            <div class="icon-report">
                <p>Menu</p>
                <div id="nav-icon4" style="margin-right: 0px !important; margin-top: 5px;">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div><!--/container-->
</div><!--/nav-->

