<!-- ================= START SCRIPTS AREA ================= -->
    <!--<script type="text/javascript" src="assets/js/jquery-1.11.0.js"></script>-->
    <script data-cfasync="false" src="{{ '/assets/js/email-decode.min.js' | relative_url }}"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    <!--<script type="text/javascript" src="assets/js/bootstrap/bootstrap.js"></script>-->
    <script type="text/javascript" src="{{ '/assets/js/jquery-tabs/jquery-ui.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/jquery-tabs/frontend-logic.js' | relative_url }}"></script>


    <script type="text/javascript" src="{{ '/assets/js/moment.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/moment-timezone.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/moment-timezone-with-data-2012-2022.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/moment-timezone-with-data.js' | relative_url }}"></script>


    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

    <script type="text/javascript" src="{{ '/assets/js/algolia-results-widget.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/algolia-frontend.js' | relative_url }}"></script>



    <script type="text/javascript" src="{{ '/assets/js/ico-tabs.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/price.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/menu.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/popup.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/my-list.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/email-form.js' | relative_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/intro.js@2.7.0/minified/intro.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/intro.js' | relative_url }}"></script>

    <script>
        $(document).ready(function () {
            console.log(2355);
        });
    </script>
<!-- ================= // END SCRIPTS AREA ================= -->