/* Clearify Disclaimer */
#homepage-clearify-wrapper {
    font-family: 'DIN Next LT Pro';
    margin: 0 5px;
    text-align: left;
    /*border-top: 3px solid #d6b110;*/
    /*border-bottom: 3px solid #d6b110;*/
}

#homepage-clearify-content {
    padding: 0;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 5px;
}

#homepage-clearify-title {
    font-weight: bold;
    font-size: 19px;
    text-align: left;
    display: table;
    width: 90%;
    margin-top: 4px;
}

.large-clearify-icon {
    margin-top: 0px;
    width: 8%;
    height: 3rem;
    margin-left: 0;
}

#homepage-clearify-text {
    font-size: 14px;
    text-align: left;
    max-width: 100%;
    display: table;
    margin: 0 auto;
    padding-left: 4px;
}

#homepage-clearify-text a {
    color: #d6b110;
}

#homepage-clearify-url{
    color: #d6b110;
}

#clearify-column {
    border-left: 1px solid #d6b110
}


/* Normal Disclaimer*/

.disclaimer-two-columns {
    padding-left: 0;
    padding-right: 0;
}

#homepage-disclaimer-wrapper {
    font-family: 'DIN Next LT Pro';
    margin: 30px 5px;
    text-align: left;
    /*border-top: 3px solid #d6b110;*/
    /*border-bottom: 3px solid #d6b110;*/
}

.disclaimer-two-columns#homepage-disclaimer-wrapper {
    margin: 0 5px;
}

#homepage-disclaimer-head {
    border-top: 3px solid #d6b110;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #d6b110;
    padding: 20px 30px;
    height: 40px;
}

#homepage-disclaimer-header-title {
    font-weight: bold;
    font-size: 26px;
    text-align: left;
    display: table;
    color: white;
    overflow: hidden !important;
    float: left;
    margin-top: 5px;
}

#homepage-disclaimer-header-button-wrapper {
    float: right;
}

.button-white {
    position: relative;
    font-weight: 900;
    font-size: 15px;
    color: #000000 !important;
    text-align: center;
    padding: 15px 0 13px 0 !important;
    line-height: 10px;
    text-transform: uppercase;
    background-color: #ffffff;
    border-radius: 5px;
    width: 250px;
    display: block;
    font-family: 'DIN Next LT Pro';
    cursor:pointer;
}

#homepage-disclaimer-content {
    padding: 0 80px;
    padding-top: 30px;
}


.disclaimer-two-columns > #homepage-disclaimer-content {
    padding: 0;
    padding-top: 30px;
    padding-right: 20px
}

#homepage-disclaimer-content-button-wrapper {
}

.button-accent {
    color: white !important;
    background-color: #d6b110;
}

#homepage-disclaimer-title {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    display: table;
}

#homepage-disclaimer-text {
    font-size: 14px;
    text-align: left;
    max-width: 100%;
    display: table;
    margin: 0 auto;
    margin-top: 3px;
}

#homepage-disclaimer-text  a:link,
#homepage-disclaimer-text  a:visited,
#homepage-disclaimer-text  a:hover {
    color: #d6b110;
}


#disclaimer-wrapper {
    font-family: 'DIN Next LT Pro';
    padding-top: 50px;
}

@media screen and (max-width: 1350px) {

    #clearify-column {
        border-left: none;
    }

    #homepage-clearify-content {
        padding: 0;
    }

    #homepage-disclaimer-content {
        padding: 0;
    }

}

@media screen and (max-width: 700px) {

    #homepage-clearify-title {
        width: 80%;
    }

    .large-clearify-icon {
        margin-right: 5px;
    }

}