@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Bold.eot');
	src: url('../fonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Bold.woff') format('woff'),
		url('../fonts/DINNextLTPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Regular.eot');
	src: url('../fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Regular.woff') format('woff'),
		url('../fonts/DINNextLTPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Black.eot');
	src: url('../fonts/DINNextLTPro-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Black.woff') format('woff'),
		url('../fonts/DINNextLTPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
