#desktop-navigation {
    margin-right: 180px;
    margin-top: 5px;
    font-size: 16px;
}

#desktop-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#desktop-navigation li {
    float: left;
    margin: 0 12px;
}

#desktop-navigation li a {
    display: block;
    padding: 8px;
}

#mobile-search {
    display: none;
}

.logo-float {
    float: left;
    margin-top: 27px;
}

#live-search {
    position: fixed;
    top: 17px;
    right: 25px;
    margin-left: -75px;
    width: 134px;
    text-align: center;
    border: 1px solid #d6b110;
    border-radius: 20px;
    padding: 10px 0;
    padding-right: 10px;
    padding-left: 40px;
    z-index: 9999999;
}

#live-search input {
    border: none;
    background: none;
    font-family: 'DIN Next LT Pro';
    font-size: 13px;
    width: 100%;
    text-align: left;
    position: relative;
}

#live-search .icon {
    background: url(../img/icons/magnify@2x.png) center center no-repeat;
    background-size: 17px auto;
    position: absolute;
    left: 11px;
    top: 8px;
    width: 20px;
    height: 20px;
    display: block;
}

#live-search.active .icon {
    background-image: url('../img/icons/clear@2x.png');
    background-size: 11px auto;
    cursor: pointer;
}



@media screen and (max-width: 1350px) {

    #miniMenu{
        display: block;
    }

    .icon-report {
        display: block;
    }

    #desktop-navigation {
        display: none;
    }

    #live-search {;
        right: 0;
        left: 50%;
    }

    #live-search {
        border: none;
    }

}
