/* === Responsive Styles === */

@media screen and (max-width: 1500px) {

    .website, .report {
        margin-left: 7%;
    }
}


@media screen and (max-width: 1350px) {

    .website, .report {
        margin-left: 10%;
    }

    .featured-banner .panels h3{
        font-size: 30px !important;
    }

    .featured-banner .panels p{
        font-size: 16px !important;
    }

    .featured-banner .button p{
        font-size: 16px !important;
    }

    #toggles{
        display: none;
    }

    .col, #presale-active-sorted, #presale-upcoming-sorted, #presale-recent-sorted, #active-sorted, #upcoming-sorted, #recent-sorted {
    max-width: 380px;
    }


    .col-double{
        left: 0;
        margin-left: 0;
    }



    .col-contain-upcoming, .col-contain-recent{
        margin-top: 40px;
    }


    .container-main{
        width: 95%;
    }

    h3{
        font-size: 11px !important;
    }



}



@media screen and (max-width: 1150px) {

    .website, .report {
        margin-left: 3%;
    }

    div.mc-field-group.input-group ul li{
        width: 30%;
        margin-left: 1%;
        margin-right: 1%;

    }

    div.mc-field-group.input-group ul li label{
        font-size: 18px;

    }

    .mailchimp-step p{
        font-size: 20px;
    }

    p input{
        width: 40px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .container-60{
        width: 80%;
    }

}

@media screen and (max-width: 980px) {

    /* Turn off iOS button styling */

    .email-form-wrapper input[type=button] {
        -webkit-appearance: none !important;
        border-radius: 0  !important;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }

    .email-form-wrapper input[type=text] {
        -webkit-appearance: none !important;
        border-radius: 0  !important;
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        padding: 0 !important;
        padding-left: 10px !important;
    }

    .close-icon{
        height:23px !important;
    }

    .website, .report {
        margin-left: 7%;
    }

    #presale-upcoming-sorted, #presale-recent-sorted, #upcoming-sorted, #recent-sorted {
        margin-top: 40px !important;
    }

    .col-contain-active, .col-contain-upcoming, .col-contain-recent, #presale-active-sorted, #presale-upcoming-sorted, #presale-recent-sorted, #active-sorted, #upcoming-sorted, #recent-sorted {
			float: none;
			clear: both;
			display: block;
			width: 100%;
			margin: 0 auto;
			padding: 0;
    }

    .col-double{
        left: 0;
        margin-left: 0;
    }

    .change-h2{
        max-width: 400px;
    }


    .container-adjust{
        width: 100% !important;
    }

    h3 {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 780px) {

    .featured-banner .panels h3{
        font-size: 18px !important;
    }

    .featured-banner .panels p{
        font-size: 11px !important;
    }

    .featured-banner .button p{
        font-size: 16px !important;
    }

    .container-60{

    }

    /*
		.featured-banner{
        height: 155px;
    }

    .featured-banner p.ban-adjust{
        text-align: center;
        float: none;
        padding-top: 30px !important;
        margin: 0 !important;
    }
		*/

    .mob-clear-show{
        display: block;
    }

    .subscribe-banner{
        margin-right: -90px !important;
        right: 50%;
        margin-left: 40px;
        margin-top: 15px !important;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
        -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
        -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    }


}

@media screen and (max-width: 650px) {

    div.mc-field-group.input-group ul li{
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;

    }

    div.mc-field-group.input-group ul li label{
        font-size: 20px;

    }

    h2.mob-left{
        text-align: left;
    }

    .mailchimp-step p{
    }

    .container-adjust-60{
        width: 90%;
    }


    .featured-banner-gilgames{
        height: 155px;
    }

    .gg-header{
        font-size: 18px !important;
    }

    .gg-sub{
        font-size: 11px !important;
    }


}

@media screen and (max-width: 550px) {

    #upcoming-sorted {
        margin-top: 40px;
    }

    .popup{
        top: 40px;
    }

    .container-main{
        width: 95%;
    }

    .container{
        width: 93%;
    }

    .icon-bell p, .icon-report p{
        display: none;
    }

    .br-mob{
        display: block;
    }

    p input{
        margin-left: 0px;
        margin-right: 0px;
        z-index: -1;
        position: relative;
    }

    h1.podcast{
        font-size: 40px;
        line-height: 40px;
        margin-left: 20px;
        margin-top: 120px;
    }

    .subscribe{
        margin-left: 20px;
    }

    #live-search{
        margin-top: 58px;
    }

    #nav{
        height: 70px;
        border-bottom: none;
    }

    #nav.searchable{
        height: 120px !important;
    }

    .featured-banner {
        margin-top: 50px !important;
    }

    .divider-mob{
        display: block;
    }

    #home-icon{
        margin-top: -5px !important;
    }

    * {
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
    }

}
