/***********************************
***** GENERAL *****/

/* Fix Bootstrap Grid */
.solspace-grid *{
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

html, body{
	margin: 0 auto;
	min-width: 400px;
	height: 100%;
	/* text-rendering: optimizeLegibility !important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased; */
}

.noscroll {
	overflow: hidden !important;
}

.clear{
    clear: both;
}

.bump{
    margin-top: 68px;
}

.bump-mini{
    margin-top: 55px;
}

.space{
    margin-bottom: 70px;
}

ul{
    -webkit-padding-start: 0px !important;
}

a, a:link, a:visited{
    text-decoration: none;
}

a.purple, a.purple:link, a.purple:visited{
    color: #7920ff;
}

a.black, a.black:link, a.black:visited{
    color: #000000;
}

a.black:hover h2{
    color: #7920ff;
}

.container{
    width: 95%;
    margin: 0 auto;
}

.container-main{
    width: 80%;
    margin: 0 auto;
    max-width: 1250px;
}

.container-popup{
    width: 85%;
    margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6, span, a, li, input, textarea, label {
    font-family: 'DIN Next LT Pro';
    color: #000000;
}







/***********************************
***** NAV *****/

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 25px;
  height: 16px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #7920ff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 0px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 0px;
}

#nav{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #d5d5d5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 9999;
}

    #nav p{
        font-weight: bold;
        font-size: 12px;
    }

/* BELL */
.icon-bell {
	positon: relative;
	float: left;
	margin-top: 22px;
	width: auto;
	cursor: pointer;
}

.icon-bell img { float: left; }

.icon-bell p {
	float: left;
	margin-left: 10px;
	line-height: 9px;
	color: #7920ff;
}


/* REPORT */
.icon-report{
    display: none;
	position: relative;
	float: right;
	margin: 7px 0px 0px 10px;
}

.icon-report img {
	float: right;
	margin-top: 6px;
}

.icon-report p {
	float: right;
	margin-right: 30px;
	line-height: 4px;
	color: #7920ff;
}


/* SIGN UP */
.icon-signup,
.icon-login {
	position: relative;
	float: right;
	margin: 0 10px;
	width: 90px;
	cursor: pointer;
}

.icon-signup a,
.icon-login a {
	background: #7920ff;
	box-sizing: border-box;
	border-radius: 5px;
	clear: both;
	color: #fff;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: .8rem .6rem .6rem .6rem;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}


/* RIGHT SIDE */
.right {
	position: relative;
	float: right;
	margin: 17px 0 0 0;
}

/* Logo Home */
.logo-home{
    position: fixed;
    left: 50%;
    margin-left: -47.5px;
    margin-top: 28px;
}

.logo-report{
    position: fixed;
    left: 50%;
    margin-left: -86.5px;
    margin-top: 28px;
}

p.contact{
    font-family: 'DIN Next LT Pro';
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-bottom: 15px;
    border-top: 1px solid #d7d7d7;
    padding-top: 20px;
}


/***********************************
***** HOME *****/

.request-click{
    cursor: pointer;
}

#toggles{
    position: relative;
    float: left;
    margin-top: -18px;
    margin-bottom: 5px;
}

.tog-triple{
    position: relative;
    float: left;
    width: 22px;
    height: 16px;
    background-image: url('../img/icons/tog-triple-active@2x.png');
    background-repeat: no-repeat;
    background-size: contain;

    border-right: 1px solid #979797;
}

.tog-single{
    position: relative;
    float: left;
    width: 20px;
    height: 16px;
    background-image: url('../img/icons/tog-single@2x.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 7px;
}



.col{
    width: 32%;

    position: relative;
    float: left;
    overflow: hidden;
    border-right: 1px solid #979797;
    border-left: 1px solid #979797;
    border-bottom: 1px solid #979797;
    margin-top: 5px;
}

    .active{
        margin-left: 0.75%;
    }

    .upcoming{
        margin-left: 1%;
        margin-right: 1%;
    }

    .recent{

    }

.hidden{
    display: none;
}



h1{
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    outline: 1px solid #979797;
    padding: 14px 0 11px 0;
    width: 100%;
    margin-bottom: 1px;
    margin-top: 0px;
    border-top: 1px solid #979797;
}

h2{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
}

.ico-wrap {
	width: 100%;
	overflow: hidden;
	height: auto;
}

.ico {
    width: 100%;
    height: 80px;
    outline: 1px solid #979797;
    margin-top: 1px;
    margin-bottom: 1px;
    overflow: hidden;
    left: 0;
    position: relative;
    background-color: #ffffff;
    z-index: 7;
}



.tbd p, .tbd span, .tbd h3{
    color: #979797 !important;
    border-color: #979797;
}


.date{
    width: 17%;
    padding-top: 2px;
    position: relative;
    float: left;
}

.active-date {
    padding-top: 0 !important;
}

.date p{
    line-height: 12px;
}

.date p{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    line-height: 12px;
}

.date p span{
    font-size: 10px;
    line-height: 14px
}

.upcoming-date {
    padding-top: 7px;
}

.upcoming-date p span{
    font-size: 12px;
}

.about{
    position: relative;
    float: left;
    width: 66%;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
    height: 50px;
    margin-top: 17px;
}

.links{
    display: none;
    position: relative;
    float: left;
    width: 69%;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
    height: 40px;
    margin-top: 20px;
}

.website,
.report,
.like-unlike {
	float: left;
	clear: none;
	display: inline-block;
	width: 102px;
    margin-top: 30px;
    margin-right: 0;
    margin-left: 35px;
    margin-bottom: 0;
    padding: 0;
	text-align: center;
	cursor: pointer;
}

.recent-website {
    width: 200px !important;
    padding-left: 20%;
}

.report {
    width: 112px;
}

.website, .report {
    margin-left: 11%;
}

.website i,
.website p,
.report i,
.report p,
.like-unlike i,
.like-unlike p {
	float: left;
	display: block;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center !important;
}

.website i,
.report i,
.like-unlike i {
	font-size: 22px;
}

.website p,
.report p,
.like-unlike p {
	font-size: 12px;
    margin-top: 5px !important;
    margin-right: 0 !important;
    margin-left: 10% !important;
    margin-bottom: 0 !important;
}

.website.black *,
.report.black *,
.like-unlike.black * {
	color: #000 !important;
}

.website.purp *,
.report.purp *,
.like-unlike.purp * {
	color: #7920ff !important;
}


.icon-link{
    width: 25px;
    height: 25px;
    position: relative;
    float: left;
    margin-top: 8px;
}

.icon-report-small{
    width: 17px;
    height: 22px;
    position: relative;
    float: left;
    margin-top: 8px;
}

.ico-links p{
    position: relative;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 14px;
    color: #000000;
}

h3{
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    line-height: 16px;
    margin-top: 5px;
    padding: 0 16px;
    margin-left: 5px;

}

    h3 span{
        font-weight: bold;
    }

.report-mod{
    width: 16%;
    position: relative;
    float: right;
    margin-top: 29px;
}

    .report-mod img{
        margin-right: 2px;
    }

.report-a:hover .report-popup{
    visibility: visible;
}

.report-popup{
    visibility: hidden;
    position: absolute;
    right: -21px;
    margin-top: -2px;
    z-index: 8;
}

.report-popup p{
    font-weight: bold;
    font-size: 12px;
}


/***********************************
***** DONATE *****/

.donate{
    position: relative;
    width: 100%;
    height: auto;
}

h5{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.shadow{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.donate p{
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    text-align: center;
}

.confirm{
    width: 165px;
    height: 32px;
    line-height: 3px;
    border: 2px solid #7920ff;
    margin-top: 30px;
    cursor: pointer;
}

.confirm p{
    font-weight: 900;
    color: #7920ff;
    font-size: 16px;

}

/***********************************
***** MAILCHIMP *****/


.popup input[type=text],
.popup input[type=email],
.popup input[type=password] {
    height: 55px;
    width: 270px;
    background-color: #ffffff;
    color: #979797;
    border: 1px solid #979797;
    margin-top: 5px;
    margin-bottom: 12px;
    padding: 0px 15px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 12px;

    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
}

div.mc-field-group.input-group{
    width: 100%;
}

div.mc-field-group.input-group ul{
    list-style-type: none;
    width: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

div.mc-field-group.input-group ul li{
    position: relative;
    float: left;
    width: 19%;
    margin: 0 0.5%;
    margin-bottom: -5px;
}

div.mc-field-group.input-group ul li label {
    width: 100%;
    font-family: 'DIN Next LT Pro';
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    color: #000000;
    position: relative;
    float: left;
    outline: 1px solid #979797;
    padding-top: 20px !important;
    padding-bottom: 18px !important;
}

div.mc-field-group.input-group ul li input{
    visibility: hidden;
}

div.mc-field-group.input-group ul li input:checked + label{
    outline: 3px solid #7920ff;
}


div.mc-field-group label,
.popup label {
    text-align: center;
    font-weight: 400;
    color: #000000;
    font-family: 'Roboto Mono', monospace;
}

input.button {
    height: 46px;
    margin-top: 0px;
    background-color: #ffffff;
    border: none;
    color: #000000!important;
    font-family: 'DIN Next LT Pro';
    font-size: 18px;
    font-weight: 900;
    position: relative;
    float: right;
    margin-right: 10px;

    -webkit-appearance: none;
}

.arrow-submit{
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    width: 24px;
    height: 19px;
    cursor: pointer;
}

div.mc-field-group select{
    height: 42px;
    width: 400px;
    background-color: #ffef22;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 12px;
    padding: 0px 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 14px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.email-group{
    width: 330px;
}

.mailchimp-step{
    margin-top: 30px;
}

.mailchimp-step img{
    position: relative;
    float: left;
    width: 34px;
    height: 35px;
}

.mailchimp-step p{
    font-weight: normal;
    font-size: 26px;
    text-align: center;
    margin-top: 4px;
}

.step-two, .step-three{
    margin-top: 80px !important;

}

p input{
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: 48px;
}

input[type=submit]{
    cursor: pointer;
}

.br-mob{
    display: none;
}

.change-h2{
    max-width: 800px;
}



/***********************************
***** REPORTS *****/

.qr-payments{
    position: relative;
    margin-top: 20px;
}

p.address{
    margin-top: 20px;
    border: 1px solid #979797;
    width: auto;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    width: 330px;
    padding: 17px 18px 15px 18px;
}

.line{
    width: 100%;
    height: 3px;
    background-color: #7920ff;
}
.report-ind{
    width: 100%;
    height: auto;
    outline: 1px solid #979797;
    overflow: hidden;
    margin-left: 0px !important;
    position: relative;
    background-color: #ffffff;
    z-index: 7;
}

.report-ind h1{
    border: none;
    outline: none;
    font-weight: 900;
    font-size: 40px;
    text-align: left;
    padding-left: 20px;
    margin-top: 8px;
}

.report-ind p{
    padding: 0 20px;
    margin-top: -5px;
    padding-bottom: 10px;
}

.report-list{
    width: 32%;
    border: none !important;
    position: relative;
    float: left;
    margin-top: 14px;

}


.report-view{
    width: 67%;
    height: auto;
    outline: 1px solid #979797;
    padding: 30px 0;
    float: right;
    position: relative;
    margin-top: 14px;
}



/***********************************
***** HALL OF HODLERS *****/


.gradient{
    background-color: #7920FF;  /* fallback for old browsers */
    /**background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
   /** background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.frame {
    margin: 1em 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.frame img {
    width: 300px;
    height: auto;
    position: absolute;
    top: -70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}





/***********************************
***** PODCAST *****/

.container-60{
    width: 60%;
    margin: 0 auto;
}

.container-50{
    width: 50%;
    margin: 0 auto;
}

h1.podcast,
h1.sign-up {
	font-weight: 900;
	font-size: 65px;
	line-height: 60px;
	text-align: left;
	outline: none;
	padding: none;
	width: 100%;
	margin-bottom: 0px;
	margin-top: 170px;
	border-top: none;
}

.subscribe {
    background-color: #7920ff;
    border-radius: 5px;
    width: 140px;
    margin-top: -20px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

    .subscribe:hover{
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
        -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
        -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    }

.subscribe p{
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    padding: 12px 6px 8px 6px;
    text-align: center;
    color: #ffffff;
}

.transition{
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.podcast-post{
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    float: left;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    margin-bottom: 20px;
}

    .podcast-post:hover{
        background-color: #7920ff;
    }

.podcast-post:hover p.crumbs-left, .podcast-post:hover p.crumbs-right, .podcast-post:hover h2, .podcast-post:hover p.crumbs-bottom{
    color: #ffffff;
}

.podcast-next{
    width: 22%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    height: 240px;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    float: left;
}

p.crumbs-left{
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    text-align: left;
    position: relative;
    float: left;
    padding-top: 22px;
}

p.crumbs-right{
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    text-align: right;
    position: relative;
    float: right;
    padding-top: 12px;
}

p.crumbs-bottom{
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    text-align: left;
    position: absolute;
    bottom: 12px;
}

.podcast-post h2, .podcast-next h2, .podcast-details h2{
    font-weight: 900;
    font-size: 32px;
    text-align: left;
    padding: 0;
    line-height: 32px;
    margin-top: 0px;
    text-transform: uppercase;
}

.container-podcast{
    width: 82%;
    margin: 0 auto;
}

.footer{
    height: 130px;
    overflow: hidden;
    background-color: #ffffff;
}

.podcast-details{
    width: 100%;
    height: auto;
    background-color: #7920ff;
    position: relative;
    margin-top: -25px;
}

.podcast-details p.crumbs-left, .podcast-details p.crumbs-right, .podcast-details p.crumbs-bottom{
    font-size: 14px;
    color: #ffffff;
}

h6{
    font-weight: 900;
    font-size: 22px;
    color: #000000;
    text-align: left;
    margin-top: 50px;;
    margin-bottom: 0;
}

.podcast-details p{
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    text-align: left;
}



/* Featured Banner */
.featured-banner {
	float: left;
	clear: both;
	display: block;
	width: 100%;
	background-color: #7920ff;
	margin: 0 !important;
	padding: 45px 0 35px;
}

.featured-banner .panels {
	float: left;
	clear: both;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.featured-banner h3 {
	color: #fff;
	text-align: center;
	font-size: 30px;
	line-height: auto !important;
	color: #ffffff;
	margin: 0 !important;
	padding: 0 !important;
	float: left;
	clear: both;
	display: block;
	width: 100%;
	font-weight: 900;
	text-transform: uppercase;
}

.featured-banner p {
	color: #fff;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	margin: 10px 0 0 0;
	padding: 0 !important;
	float: left;
	clear: both;
	display: block;
	width: 100%;
}

.featured-banner .button p {
	position: relative;
	font-weight: 900;
	font-size: 15px;
	color: #000000 !important;
	text-align: center;
	padding: 15px 0 13px 0 !important;
	margin: 20px auto 0;
	line-height: 10px;
	text-transform: uppercase;
	background-color: #ffffff;
	border-radius: 5px;
	width: 180px;
	clear: both;
	display: block;
	float: none;
}







.podcast-cover{
    width: 100px;
    height: auto;
    position: relative;
    float: left;
}



.mob-clear-show{
    display: none;
}

.icostats{
    position: absolute;
    margin-top: -28px;
    right: 15px;
    font-size: 9px;
    color: #7920ff;
    text-decoration: underline;
		text-transform: uppercase;
}


.message {
	font-family: 'DIN Next LT Pro';
	font-size: 14px;
	text-align: center;
	padding: 15px;
	display: none;
}








/*.ui-widget.ui-widget-content {*/
    /*border: none !important;*/
    /*padding-top: 7px;*/
    /*width: 100% !important;;*/
    /*background-color: #fff !important;*/
    /*height: 60px !important;*/
    /*line-height: 60px !important;*/
    /*top: 76px !important;*/
    /*left: 0 !important;*/
    /*text-align: center !important;*/
/*}*/

/*.ui-menu .ui-menu-item {*/
    /*list-style: none;*/
    /*display: inline-block;*/
    /*font-size: 14px;*/
    /*list-style: disc;*/
    /*background: none !important;*/
    /*border: none !important;*/
    /*padding: 0px 0 0 14px !important;*/
    /*margin: 0 25px 0 0 !important;*/
    /*position: relative;*/
    /*background: url('../img/icons/circle-2x.png') top 26px left no-repeat !important;*/
    /*background-size: 6px auto !important;*/
/*}*/

/*.ui-menu .ui-menu-item:hover {*/
    /*background: url('../img/icons/circle-2x.png') top 26px left no-repeat !important;*/
    /*background-size: 6px auto !important;*/
    /*border: none !important;*/
/*}*/


/******* NEW MENU *******/

.divider-mob{
    width: 100%;
    height: 1px;
    background-color: #d7d7d7;
    position: absolute;
    margin-top: 70px;
    display: none;
}

#miniMenu{
    display: none;
    width: 100px;
    height: auto;
    background-color: #ffffff;
    position: fixed;
    right: 2.5%;
    z-index: 99;
		margin: 0;
    padding: 0px !important;
    border: 1px solid #d7d7d7;
		top: -250px;
		z-index: 9999;
}

#miniMenu ul{
    list-style-type: none;
    -webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important;
}

#miniMenu ul li{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #d7d7d7;
    text-align: center;
    line-height: 47px;
}

#miniMenu ul li:hover{
    background-color: #7920ff;
    color: #ffffff;
    cursor: pointer;
}
















form.user {
	clear: both;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

form.user * {
	box-sizing: border-box;
}

form.user .third {
	clear: none;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	width: 33.3336%;
}

#account-edit .third:nth-of-type(1) { width: 20%; }
#account-edit .third:nth-of-type(2) { width: 40%; }
#account-edit .third:nth-of-type(3) { width: 40%; }

#account-edit #submit { float: right; }



form.user .form-item {
	clear: both;
	display: block;
	float: left;
	margin: 1rem 0;
	padding: 0rem 2rem;
	width: 100%;
}

form.user .form-item label {
	font-size: 20px;
	font-weight: bold;
	clear: both;
	display: block;
	float: left;
	margin: 0 0 .2rem 0;
	text-transform: uppercase;
	padding: 0;
	width: 100%;
}

form.user .form-item input[type=text],
form.user .form-item input[type=email],
form.user .form-item textarea {
	font-size: 14px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	clear: both;
	display: block;
	float: left;
	margin: 0;
	padding: .8rem 1rem;
	width: 100%;
}

form.user .form-item textarea {
	outline: none;
	resize: none;
	height: 150px;
}

form.user #submit {
	background: #7920ff;
	border: 0;
	border-radius: 5px;
	clear: both;
	color: #fff;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	max-width: 150px;
	padding: .8rem .6rem .6rem .6rem;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}





/* Colour */
.purp { color: #7920ff !important; }
.black { color: #000000 !important; }
.upper { text-transform: uppercase; }





/* Icons */
.clearify-tbd-icon,
.report-icon,
.report-tbd-icon,
.link-icon,
.report-black-icon,
.like-icon,
.unlike-icon {
    background-position: center;
    background-size: contain !important;
    background-repeat: no-repeat;
    height: 2.2rem;
}

.report-icon { background-image: url('../img/icons/report.png'); }
.report-black-icon { background-image: url('../img/icons/report-black.png'); }
.report-tbd-icon { background-image: url('../img/icons/report-tbd.png'); }
.clearify-tbd-icon { background-image: url('../img/icons/clearify.png'); }
.link-icon { background-image: url('../img/icons/link.png'); }
.like-icon { background-image: url('../img/icons/like.png'); }
.unlike-icon { background-image: url('../img/icons/unlike.png'); }

.small-ico-icons {
    height: 2rem;
    width: 4%;
    margin-top: 29px;
}

.report-icon.small-ico-icons {
    margin-right: 10px;
}

.report-tbd-icon.small-ico-icons {
    margin-right: 10px;
}

.disabled-icon {
    opacity: 0.4;
    filter: alpha(opacity=30); /* msie */
    background-color: #000;
    webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}






/* Loader */

.loader {
    text-align: center;
}

.new-loader {
    display: none;
    text-align: center;
    padding-top: 17px;
    border-top: 1px solid #979797;
}

.loader-icon {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #7920ff;
    width: 20px;
    height: 20px;
    top: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: table;
    margin: 0 auto 15px auto;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#presale-icos-sorted,
#icos-sorted {
	clear: both;
	display: block;
	float: left;
	margin: 30px 0 0 0;
	padding: 0;
	width: 100%;
}

#presale-active-sorted,
#presale-upcoming-sorted,
#presale-recent-sorted,
#active-sorted,
#upcoming-sorted,
#recent-sorted,
#my-active-icos,
#my-upcoming-icos,
#my-recent-icos {
	clear: none;
	display: inline-block;
	float: left;
	margin: 0 0.5%;
	padding: 0;
	width: 32%;
	position: relative;
    margin-top: 5px;
}

#active-sorted {
    margin-left: 1%;
}

#presale-active-sorted {
    margin-left: 1%;
}

#presale-active-sorted h1,
#presale-upcoming-sorted h1,
#presale-recent-sorted h1,
#active-sorted h1,
#upcoming-sorted h1,
#recent-sorted h1,
#my-active-icos h1,
#my-upcoming-icos h1,
#my-recent-icos h1 {
	border-top: 0;
	text-transform: uppercase;
	outline: 0 !important;
}

#presale-icos-sorted .ico-wrap,
#icos-sorted .ico-wrap {
    margin: 0 !important
}

.ico-wrap.featured h3,
.ico-wrap.featured p,
.ico-wrap.featured * { color: #7920FF; }

.ico-wrap.featured h3::before {
    content: '[FEATURED] ';
    font-weight: bold;
}

.ico-wrap .ico {
	transition: left .22s ease-in-out;
	position: relative;
	left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}
.ico-wrap:hover .ico {
	transition: left .22s ease-in-out;
	left: 80%;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}

.hover-ico {
    transition: left .22s ease-in-out !important;
    left: 80% !important;
}


.ico-links {
	width: 80%;
	height: 80px;
	margin: -81px 0 -2px 0 !important;
	background-color: #ededed;
	z-index: 6;
	border: 1px solid #979797;
	position: relative;
	left: -1px;
	top: -1px;
    text-align: center;
}

#presale-active-sorted,
#presale-upcoming-sorted,
#presale-recent-sorted,
#active-sorted,
#upcoming-sorted,
#recent-sorted,
#my-active-icos,
#my-upcoming-icos,
#my-recent-icos {
	box-sizing: border-box;
	border: 1px solid #979797;
}



/* POPUP */
.popup {
	position: fixed;
	z-index: 10000; /* 1 */
	top: 0;
	left: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	z-index: 10002;
}

.overlay {
	background: rgba(0, 0, 0, .9);
	position: fixed;
	z-index: 10000; /* 1 */
	top: 0;
	left: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	z-index: 10001;
}

.popup.is-visible,
.overlay.is-visible {
	visibility: visible;
}

.container-popup {
	box-sizing: border-box;
    width: 360px;
    max-width: 360px;
	overflow: hidden;
	height: auto;
	background-color: #ffffff;
	border-radius: 5px;
	position: fixed;
	left: 50%;
	top: 30%;
	margin-left: -180px;
	margin-top: -225px;
    padding-top: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    z-index: 10003;
}

	.popup h4 {
		position: relative;
		font-weight: 900;
		font-size: 60px;
		line-height: 50px;
		margin: .2rem 0 0 0;
		padding: 0;
		width: 90%;
	}

	.popup p {
		font-weight: normal;
		font-size: 18px;
		text-align: left;
		margin-top: 20px;
	}

	.popup p span { color: #7920ff; }

#cross {
	position: absolute;
	top: 2rem;
	right: 2rem;
	width: 17px;
	height: 17px;
	cursor: pointer;
}








/* -- MY LIST -- */
#my-list {
	float: left;
	clear: both;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	/* background: rgba(121, 32, 255, .15); */
}

#my-list-icos-expandable {
	width: 100%;
	float: left;
	clear: both;
	display: block;
	margin: 3rem 0 0 0;
	padding: 0;
}

#my-list-icos-expandable.is-visible {
	height: auto !important;
	padding: 0 0 40px;
}


#my-list h4 {
	color: #000;
	text-align: center;
	font-size: 30px;
	line-height: 10px !important;
	margin: 0 !important;
	padding: 40px 0 0 !important;
	float: left;
	clear: both;
	display: block;
	width: 100%;
	font-weight: 900;
	text-transform: uppercase;
}

#my-list #hs-my-list {
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
	float: left;
	clear: both;
	display: block;
	width: 100%;
}

#my-list #hs-trigger {
	cursor: pointer;
	background: #463362;
	width: 150px;
	margin: 20px auto 40px;
	float: none;
	clear: both;
	display: block;
	text-align: center;
	padding: .8rem .6rem .6rem .6rem;
	border-radius: 5px;
	overflow: auto;
}

#my-list #hs-trigger p {
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	line-height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
}

#my-list ul {
	float: none;
	clear: both;
	display: block;
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	padding: 0;
}

#my-list li {
	border: 1px solid #979797;
	box-sizing: border-box;
	/* background: rgba(0, 0, 0, .1);
	border-radius: 5px; */
	float: left;
	clear: none;
	height: 15rem;
	display: inline-block;
	margin: 0 1%;
	padding: 1rem;
	width: 23%;
	text-align: center;
	position: relative;
}



#my-list li .date,
#my-list li .title,
#my-list li .description {
	float: left;
	clear: both;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

#my-list li .title h3 {
	font-size: 19px;
	line-height: 10px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

#my-list li .description p {
	font-size: 13px;
	line-height: 13px;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	font-weight: normal;
}

#my-list li .ml-report,
#my-list li .ml-website {
	float: left;
	clear: none;
	display: inline-block;
	width: 50%;
	text-align: center;
	margin: 0;
	padding: 0;
}

#my-list li .ml-report i,
#my-list li .ml-website i {
	font-size: 24px;
	margin: 0 0 8px 0;
	padding: 0;
}

#my-list li .ml-report p,
#my-list li .ml-website p {
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-align: center;
	width: 100%;
	float: left;
	clear: both;
	display: block;
}

.black-icon * { color: #000 !important; }
.purp-icon * { color: #7920ff !important; }

#my-list li .remove {
	position: absolute;
	top: .6rem;
	right: .6rem;
	width: 1rem;
	height: 1rem;
}

#my-list li .remove i {
	transition: color .22s ease-in-out;
	color: #463362;
	font-size: 16px;
	line-height: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

#my-list li .remove i:hover {
	transition: color .22s ease-in-out;
	color: #fff;
}

#my-list-icos-static p {
	float: left;
	clear: both;
	display: block;
	width: 100%;
	margin: 1rem 0 0 0;
	padding: 0;
	text-align: center;
}




.remember {
	float: left;
	clear: both;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 13px;
}

.message {
    border-top: 1px solid #979797;
}

/* Email Form */

#email-forms-holder {
    display: block;
    width: 230px;
    height: 60px;
    position: fixed !important;
    bottom: 50px !important;
    right: 50px !important;
    z-index: 9999999;
}

#email-sign-up-form {
    margin-top: 5px;
}

#email-sign-up-inputs {
    height: 30px;
}

#emailSignUpInputWrapper {
    height: 30px;
}

.email-form-wrapper {
    position: relative;
    display: block;
    width: 230px;
    height: auto;
    background: white;
    z-index: 99999909;
    padding: 10px;
    border: 1px solid #7920ff;
    border-radius: 5px;
}

.email-form-wrapper p {
    text-align: center;
    font-size: 18px;
    margin: 0;
}

.email-form-wrapper input[type=button] {
    background-color: #7920ff;
    color: white;
    padding-top: 5px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #7920ff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 900;
    height: 100%;
}

.email-form-wrapper input[type=text] {
    border: 1px solid #979797;
    height: 94%;
    font-size: 13px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0;
    padding-left: 10px;
}

.email-check-icon {
    color: #7920ff;
    font-weight: normal !important;
    font-size: 26px !important;
    -webkit-text-stroke: 1px white !important;
}

.email-sign-up-text {
    font-size: 14px !important;
}

.email-sign-up-success-text {
    margin-top: 5px !important;
    font-size: 14px !important;
}

.close-icon{
    float:right;
    background-color: white !important;
    width: 20px;
    height:20px;
    margin-top: -77px;
    margin-right: -20px;
    font-size: 24px !important;
    cursor: pointer;
    color: #979797 !important;
    border-radius: 50%;
}

.close-icon-x{
    -webkit-text-stroke: 1px white;
}

/* Tabs */
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

/* Clearify */
.clearify-tbd-icon {;
    float: left;
    margin-left: 10px;
    width: 5%;
}

/* Fix Bootstrap Grid */
.solspace-grid *{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

/* Tabs */

.ui-widget {
    font-size: 1.2em !important;
}